ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    height: 100%;
    background-color: #f1f1f1;
    position: fixed;
    overflow: auto;
}

li a{
    display: block;
    padding: 8px 16px;
    color: #000;
    text-decoration: none;
    text-align: center;
}

li a:hover{
    background-color: #555;
    color: white;
}

li a:active{
    background-color: #4CAF50;
    color: white;
}

.info{
    float:left;
    width: 400px;
    padding-left: 250px;
    background-color:crimson;
}

.introduction{
    float:right;
    width: 500px;
    padding-right: 100px;
    background-color:black;
    color:white;
}

.hobbies{
    float: right;
    width: 400px;
    padding-right: 100px;
    background-color:crimson;
}
.hobbies:hover{
    background-color:skyblue;
}

.past{
    float: left;
    width: 400px;
    padding-left: 250px;
    background-color:skyblue;
}

.past:hover{
    background-color:crimson;
}

.skills{
    float: left;
    padding-left: 250px;
    background-color:yellow;
}

.classProjects{
    float: left;
    padding-left: 250px;
    background-color:blue;
    color:white;
}
